torch==2.7.1
transformers==4.57.3
# for hidream
# -e git+https://github.com/hlky/diffusers@642203ebcc2a2217987c38041d7bd5cda3cdb111#egg=diffusers
fastapi==0.115.13
uvicorn==0.29.0
accelerate
protobuf
sentencepiece
einops==0.8.1
# flash_attn==2.7.4.post1
prometheus_client==0.22.1
diffusers==0.35.1
